In [19]:
import pandas as pd

# 기본 데이터 작성
df = pd.DataFrame({
    'Name': [
        '전서규',
        '홍길동',
        '김철수',
        '김영희'
    ],
    'Age': [
        20,
        30,
        40,
        25,
    ],
    'Gender': [
        'M',
        'M',
        'M',
        'F'
    ],
    'Salary': [
        4000,
        5000,
        3000,
        2000
    ]
})

In [8]:
df['Age'].max() # 최대값 구하기
df.describe()

             Age
count   4.000000
mean   28.750000
std     8.539126
min    20.000000
25%    23.750000
50%    27.500000
75%    32.500000
max    40.000000

In [4]:
# Series
# A pandas Series has no column labels, as it is just a single column of a DataFrame. A Series does have row labels.
number = pd.Series([1, 2, 3, 4], name='Number')
number.max() # 최대값 구하기
number['Number'] # 실행안됨 X 컬럼이 없음

0    1
1    2
2    3
3    4
Name: Number, dtype: int64

In [20]:
# 각 세대별 연봉을 구하세요.

def age_categorize(age):
    age = (age // 10) * 10
    return age 
age_category = df['Age'].apply(age_categorize)
age_category.astype('category')

df.insert(2, 'AgeCategory', age_category)

df.groupby(['AgeCategory'])['Salary'].agg(['sum', 'mean'])

             AgeCategory
AgeCategory
20                     2
30                     1
40                     1